* {
  box-sizing: border-box;
}

body {
}

.app {
  padding-top: 50px;
}

.credits {
  position: fixed;
  bottom: 3px;
  right: 3px;
  font-size: 0.60em;
  color: rgba(0, 0, 0, 0.53)
}

.page-header h1 {
  overflow-x: auto;
  overflow-y: hidden;
}

.loading-spinner {
  color: rgba(0, 0, 0, 0.5);
  position: fixed;
  font-size: 4em;
  top: 55px;
  right: 5px;
  z-index: 9999;
}

.login-container {
  margin-top:50px;
}

.container .input-group {
  margin-bottom:10px;
}

.container .section {
  border-bottom:1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.global-alert-container {
  position:fixed;
  bottom:0;
  width:100%;
  padding:10px;
  transition:transform 0.5s, opacity 0.5s;
  transform:translate3d(0,100%,0);
  opacity:0;
}

.global-alert-container.in {
  transform:translate3d(0,0,0);
  opacity:1;
}

.page {
  position: relative;
}

.back-button {
  font-size: 0.8em;
  right: 0;
  position: absolute;
  top: -30px;
}

.subject-page {
  .delete-button {
    font-weight: bold;
    font-size: 1.2em;
  }
}

.users-page {
  #users-table {
    table-layout: fixed;

    td {
      height: 55px;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
  }
}

.category-page {
  .panel-heading {
    position: relative;
  }
  .panel-toggle {
    cursor: pointer;
    text-decoration: underline;
  }

  .panel-title {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 50px;
  }

  .remove-container {
    height: 37.6px;
    position: absolute;
    right: 10;
    top: 0;
    display: table;
  }

  .remove-container-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

.subjects-page {
  .subject {
    text-align: left;

    .title {
      font-weight: bold;
      font-size: 1.1em;
    }

    div {
      text-overflow: ellipsis;
      overflow: hidden;
    }

    span { vertical-align: middle }

    .glyphicon {
      font-size: 3em;
    }
  }
}

pre.pre {
  background-color: transparent;;
  border: 0;
  border-radius: 0;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: 1em;
  line-height: initial;
  margin: 0 0 10px;
  padding: initial;
  word-break: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
}
