body {
}

.container {
  max-width: 1100px;
  margin:0 auto;
}

.login-container {
  margin-top:50px;
}

.container .input-group {
  margin-bottom:10px;
}

.container .section {
  border-top:1px solid #eee;
  padding:10px;
}

.global-alert-container {
  position:fixed;
  bottom:0;
  width:100%;
  padding:10px;
  transition:transform 0.5s, opacity 0.5s;
  transform:translate3d(0,100%,0);
  opacity:0;
}

.global-alert-container.in {
  transform:translate3d(0,0,0);
  opacity:1;
}

@media (max-width: 790px) {
  .container {
    max-width: 70%;
  }
}

@media (max-width: 460px) {
  .container {
    max-width: 100%;
  }
}
