<div class="subjects-page">
  <div class="page-header text-center">
    <h1>
      <span class="glyphicon glyphicon-book"></span> Alle Fächer
    </h1>
  </div>
  <div class="section">
    <label for="subjectname">
      <span class="glyphicon glyphicon-search"></span> Suche nach einem Fach:
    </label>
    <input class="form-control" type="text" name="subjectname"
      ng-model="filter" placeholder="Name des Faches"></input>
  </div>
  <div ng-show="_.size(subjects) > 0" class="section">
    <button class="btn btn-default btn-block subject"
      ng-repeat="subject in subjects | filter:filter"
      ui-sref="app.subject({id : subject.id})">
        <div class="col-xs-2"><span class="glyphicon glyphicon-file"></span></div>
        <div class="col-xs-10">
          <span class="title">{{subject.name}}</span><br>
          <span class="description">{{subject.description}}</span>
        </div>
    </button>
  </div>
  <div class="section" ng-show="globals.currentUser.admin">
    <form ng-submit="addSubject();">
      <div class="form-group">
        <label><span class="glyphicon glyphicon-plus"></span> Neues Fach hinzufügen:</label>
        <input class="form-control" ng-model="subjectName">
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> Hinzufügen
      </button>
    </form><br/>
  </div>
</div>
