<div class="form-group">
  <label>Fragentext:</label>
  <textarea class="form-control" ng-model="question.questionString"></textarea>
</div>
<div class="form-group">
  <div ng-repeat="possibility in question.possibleAnswers" class="row">
    <label class="form-inline col-sm-6">Antwort: <input type="text" ng-model="possibility.text" required class="form-control"></label>
    <div class="checkbox col-sm-3">
      <label>
        <input type="checkbox" ng-model="possibility.correct">
        Richtig?
      </label>
    </div>
    <div class="form-group col-sm-3">
      <button class="btn btn-danger" a-click="removePossibility(possibility)">
        <span class="glyphicon glyphicon-remove"></span> Möglichkeit entfernen
      </button>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default" a-click="addPossibility()">
      <span class="glyphicon glyphicon-plus"></span> Antwortmöglichkeit hinzufügen
    </button>
  </div>
  <div class="form-group">
    <button class="btn btn-success" ng-disabled="isQuestionInvalid()" a-click="saveQuestion()">
      <span class="glyphicon glyphicon-floppy-disk"></span> Speichern
    </button>
  </div>
</div>
